html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  color: inherit;
  vertical-align: baseline;
  text-decoration: none;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* HTML5 display-role reset for older browsers */

body {
	font-family: sans-serif, Arial;
	font-size: 1em;
  color: #353535;
}


header, footer {
	width: 100%;
  text-align: center;
}

header {
	background: linear-gradient(to bottom, #bfffe8 0%, #7ceac6 75%);
  padding: 100px 0 80px;
}

header h1 {
	color: #034846;
  font-size: 10vw;
  margin-bottom: 100px;
  font-weight: bold;
}

h2 {
  margin: 15px;
}

header p {
  border-radius: 50px;
  padding: 15px;
  border: solid 1px aquamarine;
  display: inline;
  font-size: 2em;
  text-transform: uppercase;
}


section div {
	width: 80%;
	margin: auto;
	text-align: center;
}

p {
  margin: 3px;
}

strong.error {
  color: #b91b1b;
}

section h1 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.feature-title {
  display: inline-block;
}

#s-member p:last-child {
  margin-top: 15px;
  font-size: 1.2em;
}

#s-member p:last-child a {
  margin: 0 15px;
}

#s-download strong {
  font-size: 1.5em;
  width: auto;
  display: inline;
  padding: 8px 10px;
  background-color: aquamarine;
  color: black;
}

#s-download {
  background: linear-gradient(to bottom, #7ceac6 0%, #51d5e6 100%);
  margin: auto;
	text-align: center;
}

#s-screenshots img {
  display: inline-block;
  vertical-align: middle;
  max-width: 97%;
}

#s-screenshots span {
  color: #034846;
  font-weight: 600;
}

#d-screenshots {
  width: auto;
}
#d-screenshots div {
  width: auto;
  display: inline-block;
}

#s-advantage {
  background: linear-gradient(to bottom, #51d5e6 0%, aquamarine 100%);
  /*padding: 0 0 20px;*/
}

#d-advantage div {
  display: inline-block;
  width: auto;
  margin: 0 5% 0;
}

h2 {
  font-size: 1.5em;
}

#s-user {
  background: linear-gradient(to bottom, aquamarine 0%, #51d5e6 100%);
}

section {
  padding: 20px 0;
  background-color: #51d5e6;
}

#s-account {
  background: linear-gradient(to bottom, #51d5e6 0%, #7ceac6 100%);
  padding-bottom: 0;
}

#s-account a {
  display: inline-block;
  padding: 5px;
  font-size: 1.2em;
  margin: 0 40px;
}

footer {
  background: linear-gradient(to bottom, #7ceac6 0%, #23a47a 100%);
  padding: 80px 0 50px;
}

footer div {
  display: inline-block;
  margin: 10px 20px;
  color: black;
}

footer a, footer img {
  vertical-align: middle;
}
