{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}{% endblock %}</title>
	<meta charset="utf-8"/>
	<link rel="stylesheet" href="{% static 'css/style.css' %}" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
	<script src="{% static 'js/scroll.js' %}"></script>
</head>

<body>
	<header>
		<div>
			<h1>SafeMyWork</h1>
				<p class="feature-title"><strong>Auto save your work</strong></p>
				<p class="feature-title"><strong>Sychronise your folders</strong></p>
		</div>
	</header>

	<section id="s-download">
			<a href="https://github.com/Thykof/SafeMyWork/releases" title="github.com/Thykof/SafeMyWork/releases">
				<p><strong>Download</strong></p>
			</a>
	</section>
	<section id="s-screenshots">
		<div id="d-screenshots">
			<h2>Automatic save your work.</h2>
			<div>
				<p><span>SafeMyWork</span> copies your working folders to a safe directory.</p>
  			<img src="{% static 'img/auto_save.png' %}" alt="Safe my work - auto save tab">
			</div>
			<div>
				<p>You can specify some rules.</p>
				<img src="{% static 'img/settings.png' %}" alt="Safe my work - settings">
			</div>
			<h2>Synchronise folders</h2>
			<div>
				<p><span>SafeMyWork</span> scans and synchronises two folders.</p>
  			<img src="{% static 'img/sync.png' %}" alt="Safe my work - synchronise tab">
			</div>
			<div>
				<p>You can choose which file to keep when there is the two same files in both folders.</p>
  			<img src="{% static 'img/conflicts.png' %}" alt="Safe my work - solve conflicts">
			</div>
			<div>
				<p>Recap before apply the changes.</p>
  			<img src="{% static 'img/confirm.png' %}" alt="Safe my work - confirmation dialog">
			</div>
  		<!-- <img src="{% static 'img/about.png' %}" alt="Safe my work - about"> -->
		</div>
	<!--<div>
		<picture>
			<source media="(min-width: 650px)" srcset="">
			<source media="(min-width: 465px)" srcset="">
			<img src="" alt="safe my work screenshot" style="width:auto;">
		</picture>
	</div>-->
	</section>

	<section id="s-advantage">
	<div id="d-advantage">
		<div>
			<h2>Simple</h2>
		<p>Select your working folders</p>
		</div>

		<div>
			<h2>Helpful</h2>
		<p>Created to avoid losing documents.</p>
		</div>

		<div>
			<h2>Free</h2>
		<p>Free and <a href="https://github.com/Thykof/SafeMyWork">Open source</a> software.</p>
		</div>
	</div>
	</section>

	<section id="s-user">
		<div>
			<h2>Member account</h2>
			<p>Save your settings on this cloud.</p>
		</div>
	</section>

	{% block content %}{% endblock %}

	<section id="s-account">
		<div>
			{% if user.is_authenticated %}
				<a href="{% url 'logout' %}">Log out</a>
				<a href="{% url 'account' %}" id="a-account">Account</a>
			{% else %}
				<a href="{% url 'login' %}">Log in</a>
				<a href="{% url 'signin' %}">Sign in</a>
			{% endif %}
		</div>
	</section>

	<footer>
		<div>
			<img src="{% static 'img/logo-github.png' %}">
			<a href="https://github.com/Thykof/SafeMyWork">Github - SafeMyWork</a>
		</div>
		<div>
			<img src="{% static 'img/logo-github.png' %}">
			<a href="https://github.com/Thykof/SafeMyWork-Web">Github - SafeMyWork-Web</a>
		</div>
	</footer>

</body>
</html>
