{% load static %}

 <!DOCTYPE html>
<html>
<head>
	<title>{% block title %}{% endblock %}</title>
	<meta charset="utf-8"/>
	<link rel="stylesheet" href="{% static 'css/style.css' %}" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

	<header>
		<div>			
			<h1>SafeMyWork</h1>
			<p><strong>Auto save your work</strong></p>
		</div>
	</header>

	<section id="s-download">
		<div>
			<a href="#">
				<h2>Download</h2>
			</a>
		</div>
		<div>
			<img src="{% static 'img/app.png' %}">
			<img src="{% static 'img/settings.png' %}">
		</div>
	</section>

	<section id="s-advantage">
		<div id="d-advantage">
			<div>
				<h2>Simple</h2>
			</div>

			<div>
				<h2>Helpful</h2>
			</div>

			<div>
				<h2>Free</h2>
		</div>
	</section>

	{% block content %}{% endblock %}

	<section id="s-user">
		<div>
			{% if user.is_authenticated %}
				<a href="{% url 'logout' %}">Log out</a>
				<a href="{% url 'account' %}">Account</a>
			{% else %}
				<a href="{% url 'login' %}">Log in</a>
				<a href="{% url 'signin' %}">Sign in</a>
			{% endif %}
		</div>
	</section>

	<footer>
		<div>
			<img src="{% static 'img/logo-github.png' %}">
			<a href="https://github.com/Thykof/SafeMyWork">Github - SafeMyWork</a>
		</div>
		<div>
			<img src="{% static 'img/logo-github.png' %}">
			<a href="https://github.com/Thykof/SafeMyWork-Web">Github - SafeMyWork-Web</a>
		</div>
		<div>
			<a href="{% url 'home' %}">Home</a>
			<a href="{% url 'login' %}">Log in</a>
			<a href="{% url 'signin' %}">Sign in</a>
			<a href="{% url 'logout' %}">Log out</a>
			<a href="{% url 'say_hello' %}">Say hello!</a>
		</div>

	</footer>

</body>
</html> 
