{% extends "base.html" %}

{% block title %}SafeMyWork{% endblock %}

{% block content %}
<section>
	<div>

		<h1>Connection</h1>

		{% if error %}
		<p class="member"><strong class="error">Something went wrong.</strong></p>
		{% endif %}
		{% if not home %}
		<div style="display: none;" class="member"></div>  <!-- jquery scroll -->
		{% endif %}
		<form method="post" action="{% url 'login' %}">
			{% csrf_token %}
			{{ form.as_p }}
			<input type="submit" value="Log in" />
		</form>

	</div>
</section>
{% endblock %}
